body{
    background-color: #9ecfa4;
    font-family: Georgia, "Brush Script MT","Courier New", sans-sarif;
    align-content: center;
    line-height: 17px;    
}
h4{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.links{
    color: #39c692;
    list-style: none;
}
#home{
    background-color: #39c692;
    display: inline-block;
        font-size: 30px;
}
.recipe-card {
    margin: 20px auto;
    border: 8px solid #40bf51;
    padding:20px;
    width: 700px;
    background-color: #c9bacd;
}
.directions{
    line-height: 27px;
}
.ingredients{
    text-transform: capitalize;
}
#name-of-dish{
    text-transform: uppercase;
}
.links{
    line-height: 30px;
    font-size: 30px;      
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.notes{
    list-style: none;    
}