body{
    background-color: #9ecfa4;
    font-family: Georgia, "Brush Script MT","Courier New", sans-sarif;
    align-content: center;
    line-height: 17px;    
}
h4{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.links{
    color: #39c692;
    list-style: none;
}

.top-bar{
    display: flex;
    flex-flow: row;
    background-color: #c9bacd;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.top-bar-items{
    display: flex;
    width: auto;
    height: 30px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}

.top-bar h1{
    display: flex;
    flex-flow: column;
    align-self: self-start;
    font-size: 2em;
    margin: 20px 0px 10px;
}
.recipe-card {
    display: block;
    margin: 70px auto;
    border: 8px solid #40bf51;
    padding:20px;
    width: 700px;
    background-color: #c9bacd;
}
.directions{
    line-height: 27px;
}
.ingredients{
    text-transform: capitalize;
}
#name-of-dish{
    text-transform: uppercase;
}
.links{
    line-height: 30px;
    font-size: 30px;      
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.notes{
    list-style: none;    
}